body
{
  padding: 30px;
  background-color: #F1F7F7;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 0.8em;
  line-height: 1.6em;
  font-stretch: ultra-expanded;
}

a {
  text-decoration: 1px solid #777;
  color: #000;
}

a:hover {
  color: #333;
  background-color: #EEE;
}
h1 {
  font-family: 'Tienne';
  font-size: 2em;
  font-stretch: ultra-expanded;
  display: inline-block;
}

h2 {
  font-family: 'Libre Baskerville', monospace;
  font-weight: bold;
}
.navigation {
  font-family: 'Libre Baskerville', monospace;
  font-size: 1em;
  margin: 10px auto;
  max-width: 700px;
  border-radius: 3px;
  border-width: 1px;
}
.navigation a{
  text-decoration: none;
}
.navigation a:hover {
  border-bottom: 2px solid #777; /* or whatever colour you'd prefer */
  background-color: #EEE;
}
.nav-specific {
  display: inline-block;
  margin: 0px 15px 10px 15px;
}

#parent {
  margin: 0 auto;
  display: flex;
  width: 50%
}
#narrow {
  width: 200px;
  padding: 10px;
  /* Just so it's visible */
}
#wide {
  flex: 1;
  /* Grow to rest of container */
  /* Just so it's visible */
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
